<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<h1>sample</h1>

	<script>
		let params = new URLSearchParams(document.location.search);
		let id = params.get('id');
		console.log(id)


		// here have to 
		// 1. validate the user id is valid
		// 2. load the UI
		// 3. send the data the backend
		// 4. provide feedback about the server response
		// 5. show success screen or failure
		// 6. 

	</script>
</body>

</html>m
